<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li>
                <a routerLink="/dashboard">
                    <i class="bi bi-speedometer2"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#ar" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="ar">
                    <i class="bi bi-file-text"></i>
                    Application Registration
                </a>
                <ul class="collapse list-unstyled" id="ar">
                    <li>
                        <a routerLink="/create-application">Create Application</a>
                    </li>
                    <li>
                        <a routerLink="/view-applications">View Applications</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#dc" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="dc">
                    <i class="bi bi-database"></i>
                    Data Collection
                </a>
                <ul class="collapse list-unstyled" id="dc">
                    <li>
                        <a routerLink="/plan-selection">Plan Selection</a>
                    </li>
                    <li>
                        <a routerLink="/income-details">Income Details</a>
                    </li>
                    <li>
                        <a routerLink="/education-details">Education Details</a>
                    </li>
                    <li>
                        <a routerLink="/family-details">Family Details</a>
                    </li>
                    <li>
                        <a routerLink="/bank-details">Bank Details</a>
                    </li>
                    <li>
                        <a routerLink="/summary-screen">Summary Screen</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ed" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="ed">
                    <i class="bi bi-ui-checks-grid"></i>
                    Eligibility Determination
                </a>
                <ul class="collapse list-unstyled" id="ed">
                    <li>
                        <a routerLink="/determine-eligibility">Determine Eligibility</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#co" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="co">
                    <i class="bi bi-card-heading"></i>
                    Correspondence
                </a>
                <ul class="collapse list-unstyled" id="co">
                    <li>
                        <a routerLink="/correspondence">Correspondence</a>
                    </li>
                    <li>
                        <a routerLink="/pending-notices">Pending Notices</a>
                    </li>
                    <li>
                        <a routerLink="/history-notices">History Notices</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#be" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="be">
                    <i class="bi bi-bank"></i>
                    Benefit Issuance
                </a>
                <ul class="collapse list-unstyled" id="be">
                    <li>
                        <a routerLink="/benefit-issuance">Benefit Issuance</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#reports" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="reports">
                    <i class="bi bi-download"></i>
                    Reports
                </a>
                <ul class="collapse list-unstyled" id="reports">
                    <li>
                        <a routerLink="/reports">Reports</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#admin" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="admin">
                    <i class="bi bi-download"></i>
                    Admin
                </a>
                <ul class="collapse list-unstyled" id="admin">
                    <li>
                        <a routerLink="/create-caseworker">Create Caseworker</a>
                    </li>
                    <li>
                        <a routerLink="/view-caseworker">View Caseworkers</a>
                    </li>
                    <li>
                        <a routerLink="/create-plan">Create Plan</a>
                    </li>
                    <li>
                        <a routerLink="/view-plan">View Plans</a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>