<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">

        <ul class="list-unstyled components">
            <li>
                <a routerLink="/dashboard">
                    <i class="bi bi-speedometer2"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#ar" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="ar">
                    <i class="bi bi-file-text"></i>
                    Application Registration
                </a>
                <ul class="collapse list-unstyled" id="ar">
                    <li>
                        <a routerLink="/create-application">Create Application</a>
                    </li>
                    <li>
                        <a routerLink="/view-applications">View Applications</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#dc" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="dc">
                    <i class="bi bi-database"></i>
                    Data Collection
                </a>
                <ul class="collapse list-unstyled" id="dc">
                    <li>
                        <a routerLink="/plan-selection">Plan Selection</a>
                    </li>
                    <li>
                        <a routerLink="/income-details">Income Details</a>
                    </li>
                    <li>
                        <a routerLink="/education-details">Education Details</a>
                    </li>
                    <li>
                        <a routerLink="/family-details">Family Details</a>
                    </li>
                    <li>
                        <a routerLink="/bank-details">Bank Details</a>
                    </li>
                    <li>
                        <a routerLink="/summary-screen">Summary Screen</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#ed" class="dropdown-toggle" data-bs-toggle="collapse"  role="button" aria-expanded="false" aria-controls="ed">
                    <i class="bi bi-file-text"></i>
                    Eligibility Determination
                </a>
                <ul class="collapse list-unstyled" id="ed">
                    <li>
                        <a routerLink="/determine-eligibility">Determine Eligibility</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">Portfolio</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content">
        <router-outlet></router-outlet>
    </div>
</div>