<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                
                <a routerLink="/dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#application_registration" data-toggle="collapse" aria-expanded="false" aria-controls="application_registration" class="dropdown-toggle">
                    <i class="bi bi-person-vcard"></i>
                    Application Registration
                </a>
                <ul class="collapse list-unstyled" id="application_registration">
                    <li>
                        <a >Create Application</a>
                    </li>
                    <li>
                        <a href="#">View Application</a>
                    </li>
                </ul>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#data_collection" data-toggle="collapse" aria-expanded="false" aria-controls="data_collection" class="dropdown-toggle">
                    <i class="bi bi-database"></i>
                    Data Collection
                </a>
                <ul class="collapse list-unstyled" id="data_collection">
                    <li>
                        <a>Plan Selection</a>
                    </li>
                    <li>
                        <a href="#">Income Details</a>
                    </li>
                    <li>
                        <a href="#">Education Details</a>
                    </li>
                    <li>
                        <a href="#">Family Details</a>
                    </li>
                    <li>
                        <a href="#">Summary Screen</a>
                    </li>
                </ul>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#eligibility_determination" data-toggle="collapse" aria-expanded="false" aria-controls="eligibility_determination" class="dropdown-toggle">
                    <i class="bi bi-ui-checks"></i>
                    Eligibility Determination
                </a>
                <ul class="collapse list-unstyled" id="eligibility_determination">
                    <li>
                        <a href="#">Determine Eligibility</a>
                    </li>
                </ul>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#correspondence" data-toggle="collapse" aria-expanded="false" aria-controls="correspondence" class="dropdown-toggle">
                    <i class="bi bi-app-indicator"></i>
                    Correspondence
                </a>
                <ul class="collapse list-unstyled" id="correspondence">
                    <li>
                        <a href="#">Correspondence</a>
                    </li>
                    <li>
                        <a href="#">Pending Notices</a>
                    </li>
                    <li>
                        <a href="#">History Notices</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="bi bi-wallet2"></i> Benefit Issuance</a>
            </li>
            <li>
                <a href="#"><i class="bi bi-file-earmark-spreadsheet"></i> Reports</a>
            </li>
            <li>
                <a data-bs-toggle="collapse" href="#admin" data-toggle="collapse" aria-expanded="false" aria-controls="admin" class="dropdown-toggle">
                    <i class="bi bi-person-workspace"></i>
                    Admin
                </a>
                <ul class="collapse list-unstyled" id="admin">
                    <li>
                        <a href="#">Create Account</a>
                    </li>
                    <li>
                        <a href="#">View Accounts</a>
                    </li>
                    <li>
                        <a href="#">Create Plan</a>
                    </li>
                    <li>
                        <a href="#">View Plans</a>
                    </li>
                </ul>
            </li>
        </ul>

        <!-- <ul class="list-unstyled CTAs">
            <li>
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li>
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul> -->
    </nav>
</div>
