<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">IES - Project</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <div *ngIf="!isLoggedIn ; else sessionButtons" class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a routerLink="/login" class="btn btn-outline-primary btn-sm me-md-2">Login</a>
                    <a routerLink="/register" class="btn btn-outline-primary btn-sm" >Register</a>
                </div>
                <ng-template #sessionButtons>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a routerLink="/profile" class="d-block link-body-emphasis text-decoration-none">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <a class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</a>
                        <a class="btn btn-outline-info btn-sm" style="cursor:auto;">{{role}}</a>
                    </div>
                </ng-template>
            </li>
        </ul>
    </header>
</div>