<div class="container">
    <div class="row w-100">
        <div class="p-3 mb-4 mt-4 bg-light rounded-3">
            <div class="">
                <h2 class="text-center">View Notices</h2>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="p-3 mb-4 mt-4 bg-light rounded-3">

            <!-- Case Number Input -->
            <div class="form-group mb-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="caseNumber" ngDefaultControl
                        placeholder="Enter Case Number" [(ngModel)]="caseNumber">
                    <label for="citizenName">Case Number</label>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="notices.length > 0" class="row w-100">
        <div class="p-3 mb-4 mt-4 bg-light rounded-3">
            <div  class="row w-100">
                <div class="p-3 mb-4 mt-4 bg-light rounded-3">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Sr No</th>
                                <th scope="col">Plan Name</th>
                                <th scope="col">Plan Status</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Benefit Amount</th>
                                <th scope="col">Denial Reason</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let notice of notices; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{notice.planName}}</td>
                                <td>{{notice.planStatus}}</td>
                                <td>{{notice.planStartDate}}</td>
                                <td>{{notice.planEndDate}}</td>
                                <td>{{notice.benefitAmount}}</td>
                                <td *ngIf="!notice.isPrinted"><i class="bi bi-printer"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>