<div class="container">
    <div class="row w-100">
        <div class="p-3 mb-4 mt-4 bg-light rounded-3">
            <div class="">
                <h2 class="text-center">View Applications</h2>
            </div>
        </div>
    </div>

    <div class="row w-100">
        <div class="p-3 mb-4 mt-4 bg-light rounded-3">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">Sr No</th>
                        <th scope="col">Case Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Aadhar Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let citizenApplication of citizenApplicationList; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td>{{citizenApplication.caseNumber}}</td>
                        <td>{{citizenApplication.citizenName}}</td>
                        <td>{{citizenApplication.citizenPhone}}</td>
                        <td>{{citizenApplication.citizenGender}}</td>
                        <td>{{citizenApplication.citizenAadhar}}</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
        
    </div>
</div>