<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <p>No of plans available</p>
                <h5 class="card-title">23</h5>
                <p>Jan 2023 - May 2024</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <p>Citizens Approved</p>
                <h5 class="card-title">845835</h5>
                <p>Jan 2023 - May 2024</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <p>Citizens Denied</p>
                <h5 class="card-title">5765</h5>
                <p>Jan 2023 - May 2024</p>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-body">
                <p>Benefits Given</p>
                <h5 class="card-title">35443 &#8377;</h5>
                <p>Jan 2023 - May 2024</p>
            </div>
        </div>
    </div>
</div>